VITE_SUPABASE_URL=https://supabaseddc.sdt.com.np
VITE_SUPABASE_ANON_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc0MDMzMDEyMCwiZXhwIjo0ODk2MDAzNzIwLCJyb2xlIjoiYW5vbiJ9.dgOMW3dtgnAN_osLuD6yc7q9FIHFjOsB1EU-CGv53eE 